.gameDisplay {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

span {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid black 1px;
    justify-content: center;
    background-color: antiquewhite;
}

span:hover {
    opacity: 50%;
}

p {
    font-size: 2rem;
    text-align: center;
}

.playerInterface {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.player {
    gap: 1rem;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

button:hover {
    background-color: darkgray;
}

button {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}